/* Переменные для статических размеров, без адаптации */


body {
    width: 1920px;
    height: 1600px;
}

.background-image {
    top: -210px;
    left: 0;
    width: 1920px;
    height: 1080px;
    clip-path: inset(210px 0 160px 0);
}

.overlay {
    top: -210px;
    left: 0;
    width: 1920px;
    height: 1080px;
    clip-path: inset(210px 0 160px 0);
}

.solaris-car {
    top: 270px;
    right: 175px;
    width: 814px;
    height: 427px;
}

.content {
    width: 1920px;
    height: 1600px;
}

.main-info {
    width: 1920px;
}

.brand-logos {
    width: 1920px;
}

.services {
    width: 1920px;
}