/* Переменные для статических размеров, без адаптации */


body {
    min-width: 1920px;
    min-height: 1600px;
}

.background-image {
    top: -210px;
    left: 0;
    width: 1920px;
    height: 1080px;
    clip-path: inset(210px 0 160px 0);
}

.overlay {
    top: -210px;
    left: 0;
    width: 1920px;
    height: 1080px;
    clip-path: inset(210px 0 160px 0);
}

.solaris-car {
    top: 200px;
    right: 200px;
}

.content {
    min-width: 1920px;
    min-height: 1600px;
}