/* Переменные для статических размеров, без адаптации */


body {
    min-width: 1920px;
    min-height: 1600px;
}

.background-image {
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

.overlay {
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

.content {
    z-index: 1;
    min-width: 1920px;
    min-height: 1600px;
}