:root {
    --gap-no: 0;
    --gap-li: 5px;
    --gap-sm: 10px;
    --gap-md: 15px;
    --gap-lg: 30px;
}

/* Отступы внутри блока */
.gap-no { gap: var(--gap-no); }
.gap-li { gap: var(--gap-li); }
.gap-sm { gap: var(--gap-sm); }
.gap-md { gap: var(--gap-md); }
.gap-lg { gap: var(--gap-lg); }

/* Внешние отступы */
.m-no { margin: var(--gap-no); }
.m-li { margin: var(--gap-li); }
.m-sm { margin: var(--gap-sm); }
.m-md { margin: var(--gap-md); }
.m-lg { margin: var(--gap-lg); }

/* Внутренние отступы */
.p-no { padding: var(--gap-no); }
.p-li { padding: var(--gap-li); }
.p-sm { padding: var(--gap-sm); }
.p-md { padding: var(--gap-md); }
.p-lg { padding: var(--gap-lg); }

/* Отдельные внешние отступы */
/* Нет */
.mt-no { margin-top: var(--gap-no); }
.mr-no { margin-right: var(--gap-no); }
.mb-no { margin-bottom: var(--gap-no); }
.ml-no { margin-left: var(--gap-no); }
/* Очень маленький */
.mt-li { margin-top: var(--gap-li); }
.mr-li { margin-right: var(--gap-li); }
.mb-li { margin-bottom: var(--gap-li); }
.ml-li { margin-left: var(--gap-li); }
/* Маленький */
.mt-sm { margin-top: var(--gap-sm); }
.mr-sm { margin-right: var(--gap-sm); }
.mb-sm { margin-bottom: var(--gap-sm); }
.ml-sm { margin-left: var(--gap-sm); }
/* Средний */
.mt-md { margin-top: var(--gap-md); }
.mr-md { margin-right: var(--gap-md); }
.mb-md { margin-bottom: var(--gap-md); }
.ml-md { margin-left: var(--gap-md); }
/* Большой */
.mt-lg { margin-top: var(--gap-lg); }
.mr-lg { margin-right: var(--gap-lg); }
.mb-lg { margin-bottom: var(--gap-lg); }
.ml-lg { margin-left: var(--gap-lg); }

/* Отдельные внутренние отступы */
/* Нет */
.pt-no { padding-top: var(--gap-no); }
.pr-no { padding-right: var(--gap-no); }
.pb-no { padding-bottom: var(--gap-no); }
.pl-no { padding-left: var(--gap-no); }
/* Очень маленький */
.pt-li { padding-top: var(--gap-li); }
.pr-li { padding-right: var(--gap-li); }
.pb-li { padding-bottom: var(--gap-li); }
.pl-li { padding-left: var(--gap-li); }
/* Маленький */
.pt-sm { padding-top: var(--gap-sm); }
.pr-sm { padding-right: var(--gap-sm); }
.pb-sm { padding-bottom: var(--gap-sm); }
.pl-sm { padding-left: var(--gap-sm); }
/* Средний */
.pt-md { padding-top: var(--gap-md); }
.pr-md { padding-right: var(--gap-md); }
.pb-md { padding-bottom: var(--gap-md); }
.pl-md { padding-left: var(--gap-md); }
/* Большой */
.pt-lg { padding-top: var(--gap-lg); }
.pr-lg { padding-right: var(--gap-lg); }
.pb-lg { padding-bottom: var(--gap-lg); }
.pl-lg { padding-left: var(--gap-lg); }

/* Закругление углов */
.br-no { border-radius: var(--gap-no); }
.br-li { border-radius: var(--gap-li); }
.br-sm { border-radius: var(--gap-sm); }
.br-md { border-radius: var(--gap-md); }
.br-lg { border-radius: var(--gap-lg); }